
<!-- edit survey ... edit new question and choices-->


<h1 class="text-center"><strong>Survey Builder</strong></h1>
<h1>Edit
_______________________________</h1>


<%= render  :partial => "question_initial",
            :locals => { :survey => @survey, :question => @question } %> 
<br>

