<!-- Survey Basic Information -->

<div class="text-muted">

  <h4>Next, fill in the questions.</h4>

  <h3><strong>Title:</strong></h3>
  <%= @survey.title %><br>

  <h3><strong>Description:</strong></h3>
  <%= @survey.description %>

  <h1>_______________________________</h1>

</div>

