
<!-- new survey ... add new question and choices-->


<h1 class="text-center"><strong>Survey Builder</strong>
_______________________________</h1>


<%= render  :partial => "question_initial",
            :locals => { :survey => @survey, :question => @question } %> 
<br>






