
<!-- edit survey -->


  <h1 class="text-center"><strong>Survey Builder</strong><h1>
  <h2 class="text-center">Edit<h2>


    <h1 class="text-center">_______________________________</h1>


  <%= render  :partial => "survey_input",
              :locals => { :survey => @survey } %> 
  <br>

