<nav class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <i class="fa fa-yoast" aria-hidden="true"></i>
      </a>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>
      </ul>
    </div>
  </div>
</nav>
