<header class="text-center">
  <h1><strong>Survey Builder</strong></h1>
  <hr>
  <h3><span class="text-muted">1.Build Survey</span> | <strong>2.Add Questions</strong></h3>
</header>


<br>
<main class="text-muted">
  <p>
    Next, fill in the questions.
  </p>
  <dl>
    <dt><h3><strong>Title:</strong></h2></dt>
    <dd><p><%= survey.title.capitalize %></p></dd>
  </dl>
  <dl>
    <dt><h3><strong>Description:</strong></h2></dt>
    <dd><p><%= survey.description.capitalize %></p></dd>
  </dl>

  <hr>
</main>
