
<!-- new survey ... edit new question and choices-->


<h1>_______________________________</h1>


<%= render  :partial => "create_multiple_choice_2",
            :locals => { :survey => @survey, :question => @question, :options => @options } %> 
<br>

