<div class="new-survey text-center">
  <header>
    <h1><strong>Survey Builder</strong></h1>
    <hr>
    <h3><strong>1.Build Survey</strong> | <span class="text-muted">2.Add Questions</span></h3>
  </header>

  <br>
  <main>
    <p>
      First, choose a title and a description for your survey.
    </p>
    <%= render 'form', survey: @survey %>
  </main>
</div>
